
body{
	

}

header{
	padding: 10px;
	background-image: url("http://cdn.fgx.ch/fgx/fgx-cap-40x30.png");
	background-repeat: no-repeat;
	background-position: top right;
}

header h1{
	color: #999999;
	font-family: Verdana;
	font-size: 10pt;
}


#widget_div{
	margin: 5px auto;
	width: 99%;
	min-height: 200px;
}