
<html lang="en">

<head>
<title>FGx NavData</title>
<script>
{# var WS_ADDRESS = "{{WS_ADDRESS}}"; #}

var WIDGET_HEIGHT = window.innerHeight - 70;
</script>

<script src="http://static.fgx.ch/js/ext-3.4.0/adapter/ext/ext-base.js" type="text/javascript"></script>
<script src="http://static.fgx.ch/js/ext-3.4.0/ext-all.js"  type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="http://static.fgx.ch/js/ext-3.4.0/resources/css/ext-all.css"></link>
{#<link rel="stylesheet" type="text/css" href="http://static.fgx.ch/js/ext-3.4.0/resources/css/xtheme-gray.css"></link>#}

<script src="http://static.fgx.ch/js/OpenLayers-2.11/OpenLayers.js" type="text/javascript"></script>
<script src="http://map.fgx.ch/osm/OpenStreetMap.js" type="text/javascript"></script>

<script src="http://static.fgx.ch/js/GeoExt-1.1/lib/GeoExt.js" type="text/javascript"></script>
{# <link rel="stylesheet" type="text/css" href="http://static.fgx.ch/js/GeoExt/resources/css/geoext-all.css"></link> #}



<link rel="stylesheet" href="/static/navdata.1.css">
{# 
<script src="/static/js/flights.js"></script> 
<script src="/static/js/radar.js"></script> 
<script src="/static/js/flights.js"></script> 
#}

<script src="/static/js/main.1.js"></script> 
<script src="/static/js/airports_grid.js"></script> 
<script src="/static/js/airports_browser.js"></script> 
<script src="/static/js/airport_data_widget.js"></script> 
<script src="/static/js/atc_grid.js"></script> 


<script src="/static/js/dbase_browser.js"></script> 
<script src="/static/js/dbase_databases_grid.js"></script> 
<script src="/static/js/dbase_tables_grid.js"></script> 
<script src="/static/js/dbase_columns_grid.js"></script> 
</head>



<body>
	
	<header>
		<h1>FGx NavData</h1>
	</header>

{% block content %}

{% endblock %}

</body>
</html>