

{% extends "_base.html" %}
{% import "_macros.html" as mac with context %}


{% set page_title = "FGx Map" %}

{#=======================================================#}
{% block header %}

<script type="text/javascript" src="http://static.fgx.ch/js/proj4js-1.1.0/lib/proj4js-combined.js"></script>

{{ mac.ext_js() }}
{{ mac.openlayers_js() }}

<script type="text/javascript" src="/static/js/fgx/main.js"></script>
<script type="text/javascript" src="/static/js/config.js"></script>

<script type="text/javascript" src="/static/js/fgx/FlightsWidget.js"></script>
<script type="text/javascript" src="/static/js/fgx/NavWidget.js"></script>
{# <script type="text/javascript" src="/static/js/fgx/MapLayersTree.js"></script> #}
<script type="text/javascript" src="/static/js/fgx/MainViewport.js"></script>	

{% endblock header %}



{#=======================================================#}
{% block content %}


<script>
	display_map();
</script>

{% endblock %}
