

{##  Ext js ##}
{% macro ext_js(ver="3.4.0") %}
	<script type="text/javascript" src="{{app_globals.static_url}}/js/ext-{{ver}}/adapter/ext/ext-base.js"></script>
	<script type="text/javascript" src="{{app_globals.static_url}}/js/ext-{{ver}}/ext-all.js"></script>
	<link rel="stylesheet" type="text/css" href="{{app_globals.static_url}}/js/ext-{{ver}}/resources/css/ext-all.css" />
	<link rel="stylesheet" type="text/css" href="{{app_globals.static_url}}/js/ext-{{ver}}/resources/css/xtheme-gray.css" />
{% endmacro %}


{#--------------------------------#}
{# OpenLayers and assoc #}
{% macro openlayers_js() %}

	{# Openlayers #}
	<script src="{{app_globals.static_url}}/js/OpenLayers-2.12/OpenLayers.js"></script>

    {# GeoExt #}
    <script type="text/javascript" src="{{app_globals.static_url}}/js/GeoExt-1.1/lib/GeoExt.js"></script>

	{# Proj4js #}
	<script src="{{app_globals.static_url}}/js/proj4js-1.1.0/lib/proj4js-combined.js"></script>
	

	{# OSM stuff #} 
	<script src="{{app_globals.static_url}}/js/osm/OpenStreetMap.js"></script>

{% endmacro %}
