

{% extends "_base.html" %}
{% import "_macros.html" as mac with context %}


{% set page_title = "Db Struct" %}




{% block header %}

{{ mac.ext_js() }}

<script type="text/javascript" src="/js/main.1.js"></script>
<script type="text/javascript" src="/js/dbase/dbase_columns_grid.js"></script>
<script type="text/javascript" src="/js/dbase/dbase_databases_grid.js"></script>
<script type="text/javascript" src="/js/dbase/dbase_tables_grid.js"></script>
<script type="text/javascript" src="/js/dbase/dbase_browser.js"></script>

{% endblock header %}




{% block content %}

<div id="widget_div"></div>


<script>

Ext.onReady(function(){

	var dbaseBrowser = new FGx.DBaseBrowser();

});
</script>



{% endblock %}
