

{% extends "_base.html" %}
{% import "_macros.html" as mac with context %}


{% set page_title = "Db Struct" %}




{% block header %}

{{ mac.ext_js() }}

<script type="text/javascript" src="/fgx_js.{{app_globals.fgx_js_version}}/main.js"></script>
<script type="text/javascript" src="/fgx_js.{{app_globals.fgx_js_version}}/DbBrowser.js"></script>

{% endblock header %}




{% block content %}

<div id="widget_div"></div>


<script>

Ext.onReady(function(){

	var widget = new FGx.DbBrowser({renderTo: "widget_div"});
	widget.load();

});
</script>



{% endblock %}
