

{% extends "_base.html" %}
{% import "_macros.html" as mac with context %}


{% set page_title = "FGx Map" %}

{#=======================================================#}
{% block header %}



{{ mac.ext_js() }}
{{ mac.openlayers_js() }}

<script type="text/javascript" src="/js/fgx/main.js"></script>

<script type="text/javascript" src="/js/fgx/MapPanel.js"></script>	
<script type="text/javascript" src="/js/fgx/FlightsGrid.js"></script>	
<script type="text/javascript" src="/js/fgx/MpStatusGrid.js"></script>
<script type="text/javascript" src="/js/fgx/BookMarkDialog.js"></script>
<script type="text/javascript" src="/js/fgx/SettingsWidget.js"></script>

{# <script type="text/javascript" src="/js/fgx/FlightsWidget.js"></script> #}
<script type="text/javascript" src="/js/fgx/NavWidget.js"></script> 

<script type="text/javascript" src="/js/fgx/MainViewport.js"></script>	

{% endblock header %}



{#=======================================================#}
{% block content %}


<script>
Ext.onReady(function(){
	var VP = new FGx.MainViewport();
	VP.initialize();

});
</script>

{% endblock %}
