

body {
    margin: 0;
	background-color: #eeeeee;
}


#map_div {
    background-color: #efefef;
    width: 800px;
    height: 800px;
}

#msg-div {
    position:absolute;
    left:35%;
    top:100px;
    width:500px;
    z-index:80000;
}

/*#fitinfo {
    position: absolute;
    width: 200px;
    height: 200px;
}*/

#fgxlogo {
    position:fixed;
    bottom:10px;
    left: 20px;
    background:transparent;
    text-align:left;
    vertical-align: center;
    padding:0px;
    width:70%;
    height: auto;
    font-family: arial, helvetica, sans-serif;
    font-size: 10px;
}



/* This uses famfam which is in root at pete's http://ico.daffodil.uk.com/ */
.icoRefresh{background-image: url('http://ico.daffodil.uk.com/refresh.gif') !important; background-repeat: no-repeat;}

.icoOn{background-image: url('http://ico.daffodil.uk.com/bullet_pink.png') !important; background-repeat: no-repeat;}
.icoOff{background-image: url('http://ico.daffodil.uk.com/bullet_black.png') !important; background-repeat: no-repeat;}

.icoSettings{background-image: url('http://ico.daffodil.uk.com/cog.png') !important; background-repeat: no-repeat;}

.icoCallSign{background-image: url('http://ico.daffodil.uk.com/page_white_c.png') !important; background-repeat: no-repeat;}


.icoFlights{background-image: url('http://ico.daffodil.uk.com/text_horizontalrule.png') !important; background-repeat: no-repeat;}

.icoMapCore{background-image: url('http://ico.daffodil.uk.com/map.png') !important; background-repeat: no-repeat;}


.icoFix{background-image: url('/images/vfr_fix.png') !important; background-repeat: no-repeat;}

